<%= form_with model: quote, url: polymorphic_path([quote]), class: "quote form" do |f| %>
  <% if quote.errors.any? %>
    <div class="error-message">
      <%= quote.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= f.text_field :name, class: 'form-control', input_html: { autofocus: false } %>
    <%= f.submit class: "btn btn-primary mx-2" %>
  </div>
<% end %>
